// Vars.
$black: #000;
$newwhite: #d6d6d6;
$darkpurp: rgb(32, 0, 68);
$linkpurp: rgb(122, 83, 167);
$teal: #50e3c2;
$largetitlefont: 75px;
$namefontsize: 30px;

// Global.
html {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  justify-content: center;
  line-height: 1.33;
  margin: auto;
  min-height: 75vh;
  text-align: center;
  word-break: break-all;

  &.dark-theme {
    background-color: $black;
    color: $newwhite;

    svg {
      fill: $newwhite;

      &:hover {
        background-color: $darkpurp;
        fill: $teal;
      }
    }

    a {
      color: $newwhite;
      text-decoration: none;

      &:hover {
        color: $teal;
      }
    }

    .cv {
      &-wrap {
        &-nav {
          &-btn {
            border-color: $newwhite;

            &:after,
            &:before {
              border-color: $newwhite;
            }

            &:hover {
              background: $darkpurp;
              border-color: $teal;
              color: $teal;

              &:after,
              &:before {
                border-color: $teal;
              }
            }
          }
        }

        &-contact {
          &-box {
            &-inner {
              &:hover {
                background: $darkpurp;
                border-color: $teal;
                color: $teal;

                &:after,
                &:before {
                  border-color: $teal;
                }
              }
            }
          }
        }
      }
    }
  }
}

::selection {
  background: $linkpurp;
  color: $teal;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-bottom: 10px;
}

// Spec.
.cv {
  &-app {
    display: block;
    min-height: 75vh;

    svg {
      cursor: pointer;
    }
  }

  &-wrap {
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;
    height: 75vh;
    justify-content: center;

    &-top {
      margin-bottom: 50px;

      &-pos {
        font-size: $largetitlefont;
        margin-top: 25px;
      }

      &-name {
        font-size: $namefontsize;
      }
    }

    &-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      &-btn {
        cursor: pointer;
        margin: 8px;
        padding: 5px 10px;
        position: relative;

        &:after {
          border-bottom: 1px solid;
          border-left: 1px solid;
          bottom: 0;
          content: '';
          display: block;
          height: 15px;
          left: 0;
          position: absolute;
          width: 10px;
        }

        &:before {
          border-right: 1px solid;
          border-top: 1px solid;
          content: '';
          display: block;
          height: 15px;
          position: absolute;
          right: 0;
          top: 0;
          width: 10px;
        }
      }
    }

    &-contact {
      margin-top: 50px;
      position: relative;

      * {
        margin: 0 10px;
      }

      &-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;

        &-inner {
          display: flex;
          flex-flow: column;
          margin-top: 20px;
          position: relative;

          &:after {
            border-bottom: 1px solid;
            border-left: 1px solid;
            bottom: 0;
            content: '';
            display: block;
            height: 15px;
            left: 0;
            position: absolute;
            width: 10px;
          }

          &:before {
            border-right: 1px solid;
            border-top: 1px solid;
            content: '';
            display: block;
            height: 15px;
            position: absolute;
            right: 0;
            top: 0;
            width: 10px;
          }

          * {
            padding: 10px;
          }
        }
      }
    }
  }
}
