// Vars.

$black: #000;
$newwhite: #d6d6d6;
$darkpurp: rgb(32, 0, 68);
$linkpurp: rgb(122, 83, 167);

// Global.
html {
  align-items: center;
  background-color: $black;
  color: $newwhite;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  line-height: 1.33;
  margin: auto;
  min-height: 100vh;
  text-align: center;
}

a {
  color: $newwhite;
  text-decoration: none;

  &:hover {
    color: $linkpurp;
  }
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-bottom: 10px;
}

.cv {
  &-app {
    display: block;
    min-height: 100vh;
  }

  &-wrap {
    &-top {

    }

    &-nav {
      
    }
  }
}
